@using Example.Web.Data
@model IQueryable<User>
@{
    ViewBag.Title = "User Collection";
    ViewBag.Header = "View All";
    ViewBag.ActiveSection = "User";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    var grid = new WebGrid(source: Model, rowsPerPage: 20, canSort: false);
}

@grid.GetHtml(
    tableStyle: "table table-striped",
    columns: grid.Columns(
        grid.Column("Username", "Username", x => x.Username),
        grid.Column("Email", "Email", x => x.Email),
        grid.Column("Comment", "Comment", x => x.Comment),
        grid.Column("IsApproved", "IsApproved", x => x.IsApproved),
        grid.Column("_id", "Id", x => x._id),
        grid.Column("Actions", "Actions",
            x => Html.Raw(
                Html.ActionLink("Display", "Display", new { Id = x._id }, new { @class = "btn smaller btn-primary" }).ToString()
                    + "&nbsp;&nbsp;"
                    + Html.ActionLink("Edit", "Edit", new { Id = x._id }, new { @class = "btn smaller" }).ToString()
                    + "&nbsp;&nbsp;"
                    + Html.ActionLink("Delete", "Delete", new { Id = x._id }, new { @class = "btn smaller" }).ToString()
            )
        )
    )
)

<div class="form-actions">
    <a href="@Url.Action("Create")" class="btn vtn-primary">Create New</a>
</div>
