body {
    padding-top: 60px;
}
.content {
    min-height: 500px;
}

.form-horizontal .value {
    margin-left: 150px;
    color: #808080;
    padding: 6px 0px 0px 5px;
    line-height: 18px;
}

.btn.smaller {
    font-size: 11px;
    padding: 3px 8px;
    margin-top: -2px;
}
